<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="VoiceApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
    <applicationSettings>
        <VoiceApp.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>test4</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>K1skop1</value>
            </setting>
            <setting name="TelephonyServer" serializeAs="String">
                <value>10.168.3.209</value>
            </setting>
            <setting name="RegisterDNIS" serializeAs="String">
                <value>9991000004</value>
            </setting>
            <setting name="RegisterWebRTCURL" serializeAs="String">
                <value>http://localhost:8181/1212/basicivr.html</value>
            </setting>
        </VoiceApp.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
