body
{
    /*background-color:#fcfcfc;*/
    font-family: 'Raleway', sans-serif;
}
#header {
    background-color: #fcfcfc;
    /*background-color: #7fc241;*/
    min-height:30px;
    color:#fff;
    min-width:400px;


/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    border-bottom:#ddd solid 1px;
}
#logo {
    /*background-color:#FFF;
    border-radius: 30px;
    width:278px;*/
    height:45px;
}
.heading {
    font-size:18pt;
    font-weight: bold;
}
h1, h2, h3 {
    font-family: Raleway;
    margin-top:5px;
    color: #5B6A81;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
h1 {
    font-size:44px;
    line-height: 44px;
}
.hborder {
    border-bottom: 1px solid #DDD;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.spacer {
    margin-top:15px
}

.top-link {
    margin-top:50px;
    margin-right: 20px;
}

a {
    color: #7fc241;
}

a:hover {
    text-decoration:none;
}

.top-link a
{
    font-size:12px;
    text-decoration:none;
    text-transform:uppercase;
    font-weight: bold;
    margin-left:15px;
}

.top-link a:hover
{
    color: #5B6A81;
}

.top-link .active
{
    border-bottom: 2px solid #5B6A81;
}


        table.dataTable tr.odd {
        background-color:#a2d6f3;
    }

    table.dataTable tr.even {
        background-color:#FFF;

    }

        table.dataTable tr.odd td.sorting_1 {
            background-color:#50a5d3;
        }
        
        table.dataTable tr.even td.sorting_1 {
            background-color:#a2d6f3;
        }

                table.dataTable tr.odd td.sorting_2 {
            background-color:#50a5d3;
        }
        
        table.dataTable tr.even td.sorting_2 {
            background-color:#a2d6f3;
        }

    table.dataTable thead th {
        border-bottom:none;
        color: #053461;
        text-align:left;
    }

    table.dataTable {
        color:#053461;
        border:1px solid #DDD;
        box-shadow: 0 2px 0 rgba(0,0,0,0.055);
        -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.055);
    }

    table.dataTable td {
        text-align:left;
        padding-top: 3px;
        padding-right: 3px;
    }

    #table th, #table td {
max-width: 325px;
min-width: 70px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
font-size:12px;
}

    .modal-header, .modal-footer {
        background-color: #75bde5;
    }

        table.dataTable td a {
            color: #0c569d;
        }

            table.dataTable td a:hover {
                text-decoration: underline;
            }

    table.dataTable thead {
        background-color: #F6F7F7;
    }