body
{
    font-family:'Lato','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*padding-top:50px;*/
    color:#000;
    font-size:13px;
}

.form-group{
    margin:0px;
}

.modal-header {
    padding:5px;
}

.modal-footer {
    padding:5px;
}

.modal-body {
    padding:10px;
}

.modal-header, .modal-footer {
    background-image: -webkit-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: -o-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f8f8f8));
    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
}

.help {
    color: #7fc241;
    font-size:16px;
}

a {
    color: #7fc241;
}
.phone-control {
    max-width:240px;
}
.phone-control button {
    font-weight: bold;
    font-size:16px;
}
#content{
    padding-bottom:10px;
}
.btn-phone {
    font-size:30px;
    min-width:80px;
    font-weight:bold;
}
#soft-phone .row {
    min-width:400px;
}
.background {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}
.alternate {
    background-color: #f8f8f8;
}
.configuration-option {
    padding-top:5px;
    padding-bottom:5px;
}
.heading {
    font-size:18px;
    font-weight:bold;
}
.navbar
{
    margin-bottom:0px;
    /*margin-bottom:10px;*/
}
.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* Internet Explorer 7 compatibility */
    *zoom:1;
    vertical-align: top;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a
{
    color: #7fc241;
}
.navbar-default .navbar-nav>li>a
{
    color:#7fc241;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-weight: bold;
    color:#5B6A81;
}

h1{
    margin-top:10px;
}

.logo {
    margin-top: -5px;
}
/*.navbar-header
{
    background-color:#3498db !important;
}*/

#header
{
    font-size:30px;
    padding-top:5px;
}
#header-text
{
    padding-left:5px;
    font-family:Raleway, Calibri, sans-serif;
    font-weight:900;
}
#title-group
{
    margin-bottom:0;
}

/*.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important; 
    padding-bottom:0 !important;
    height: 80px;
}
.navbar {min-height:80px !important;}*/


#footer
{
    text-align:left;
    background-color:#7fc241;
    /*background-color:#f8f8f8;*/
    /*background-color: #3498db;*/
    padding-bottom:15px;
    padding-top:15px;
    color:#FFF;
}
.cm-s-xq-light span.cm-def
{
    text-decoration:none;
}

#top-navbar .nav>li
{
    /*padding-left:30px;*/
}
/*Carousel code*/
div.c-wrapper{
    width: 100%; /* for example */
    margin: auto;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 100%; /* use this, or not */
margin: auto;
}

#slide1
{
    background-color:#3498db;
}

.carousel-control.left {
    background:none;
}

.carousel-control.right {
    background:none;
}
.main-link {
    font-weight:bold;
}

.main-link a {
        color:#7fc241 !important;
}

/*#top-nav
{
    background-color:#ecf0f1;
    background-image:none;
}*/

.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
    border:none;
}

.purple{
    color:#9b59b6;
}

.dark-blue{
    color: #2c3e50;
}

.blue {
    color: #3498db;
}

.dark-green {
    color: #27ae60;
}

.green {
    color: #7fc241;
}

.marketing {
    font-size: larger;
}

.alternate {
    background-color:#efefef;
}
.section {
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
